body {
    position: relative;
    padding-top: 50px;
    padding-bottom: 0px;
    background: url("./Images/pexels-photo-137141.jpeg");
    background-position: center;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 94vh;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255,255,255, .8);
    padding-bottom: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: absolute;
    bottom: 30px;
    height: 40px;
    width: 90%;
    max-width: 1140px;
}

.jumbotron {
    background: url("./Images/pexels-photo-61136.jpeg");
    background-position: right;
    background-size: cover;
}

hr {
    border-color: slategray;
}

#calendar {
    margin-top: 30px;
    margin-bottom: 30px;
}