@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<h2 class="text-danger">Stało się coś nieoczekiwanego</h2>
<hr />
<p class="text-danger">Wystąpił błąd podczas przetwarzania żądania.</p>

