@{
    ViewBag.Title = "O aplikacji";
}
<h2>@ViewBag.Title</h2>

<div>
    <p>Swimduler jest projektem zaliczeniowym z przedmiotu Aplikacje Internetowe. Niektóre z użytych technologii:</p>
    <ul>
        <li>ASP.NET MVC5</li>
        <li>Entity Framework</li>
        <li>JavaScript</li>
        <li>BootStrap</li>
    </ul>
</div>