@{
    ViewBag.Title = "O aplikacji";
}
<h2>@ViewBag.Title</h2>

<div>
    <p>Swimduler jest projektem zaliczeniowym z przedmiotu Aplikacje Internetowe. Niektóre z użytych technologii:</p>
    <ul>
        <li>
            ASP.NET MVC5<br />
            <p>Platforma do budowy aplikacji internetowych, pozwalająca na użycie wielu  komponentów (zarządzanie stanem aplikacji, mechanizmy uwierzytelniania, autoryzacja, profile, cache). Wykorzystuje architekturę model-widok-kontroler (ang. Model-View-Controller), dzięki czemu tworzony kod jest przejrzysty i łatwy w utrzymaniu.</p>
        </li>
        <li>
            Entity Framework 6<br />
            <p>Narzędzie typu ORM (ang. Object-Relational Mapping), pozwalające na oddzielenie warstwy dostępu do danych w aplikacji.</p>
        </li>
        <li>
            Ajax<br />
            <p>Technika pozwalająca na interakcję użytkownika z serwerem w sposób asynchroniczny. Dzięki temu nie następuje przeładowanie całego dokumentu, co korzystnie wpływa na odczucia użytkownika przy korzystaniu z aplikacji internetowej.</p>
        </li>
        <li>
            jQuery<br />
            <p>Biblioteka dla języka JavaScript, upraszczająca pisanie skryptów i ułatwiająca manipulację drzewem DOM.</p>
        </li>
        <li>
            FullCalendar<br />
            <p>Wtyczka JavaScript/jQuery, pozwalająca na utworzenie kalendarza z możliwością dodawania wydarzeń. Funkcjonalności pluginu są zależne od tego, w jaki sposób programista wykorzysta udostępnione metody.</p>
        </li>
        <li>
            Bootstrap<br />
            <p>Framework CSS, przyspieszający tworzenie interfejsu graficznego stron internetowych. Bazuje na gotowych rozwiązaniach HTML oraz CSS, korzysta również z JavaScript. Pozwala na szybkie tworzenie w pełni responsywnych stron (RWD). W ASP.NET MVC 5 jest standardowo dołączany do projektu wzorcowego.</p>
        </li>
    </ul>
</div>