@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<div>
    <address>
        Dominika Bogusz<br />
        37-100 Łańcut<br />
        725538846
    </address>

    <address>
        <a href="mailto:dominika.bogu.bogusz@gmail.com">dominika.bogu.bogusz@gmail.com</a><br />
    </address>
</div>
