@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<div>
    <address>
        Dominika Bogusz<br />
        37-100 Łańcut<br />
    </address>

    <address>
        <span class="glyphicon glyphicon-phone"></span> 725538846<br>
        <span class="glyphicon glyphicon-envelope"></span><a href="mailto:dominika.bogu.bogusz@gmail.com"> dominika.bogu.bogusz@gmail.com</a>
    </address>
</div>
