@{
    ViewBag.Title = "Swimduler";
}

<div class="jumbotron">
    <h1>Swimduler</h1>
    <p class="lead">Praktyczna aplikacja do zarządzania twoim planem zajęć na basenie.</p>
</div>

<div class="row">
    <div class="col-md-4">
    @if (Request.IsAuthenticated)
    {
        <h2>Witaj!</h2>
        <p>
            Możesz już korzystać z wygodnego kalendarza oraz zarządzać swoimi lekcjami, grupami zajęciowymi oraz klientami.
        </p>
        <p>@Html.ActionLink("Przejdź do kalendarza...", "Index", "Calendar")</p>
    }
    else
    {
        <h2>Uzyskaj dostęp</h2>
        <p>
            Zaloguj się na swoje konto, by korzystać z wygodnego kalendarza oraz zarządzać swoimi lekcjami, grupami zajęciowymi oraz klientami.
        </p>
        <p>@Html.ActionLink("Przejdź do logowania...", "Login", "Account")</p>
    }
    </div>
    <div class="col-md-4">
        <h2>O aplikacji</h2>
        <p>Swimduler jest projektem zaliczeniowym z przedmiotu Aplikacje Internetowe. Niektóre z użytych technologii: ASP.NET MVC5, Entity Framework, JavaScript, BootStrap.</p>
        <p>@Html.ActionLink("Czytaj więcej...", "About", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p>725538846<br>
        <a href="mailto:dominika.bogu.bogusz@gmail.com">dominika.bogu.bogusz@gmail.com</a></p>
        <p>@Html.ActionLink("Szczegóły...", "Contact", "Home")</p>
    </div>
</div>

