@{
    ViewBag.Title = "Swimduler";
}

<div class="jumbotron">
    <h1>Swimduler</h1>
    <p class="lead">Praktyczna aplikacja do zarządzania twoim planem zajęć na basenie.</p>
</div>

<div id="calendar"></div>

<div id="calendarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Usuń
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edytuj
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div id="calendarModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zapisz wydarzenie</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Nazwa wydarzenia</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Początek</label>
                        <div class="input-group date" id="dtp1">
                            <input type="datetime" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Koniec</label>
                        <div class="input-group date" id="dtp2">
                            <input type="datetime" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Uwagi</label>
                        <textarea id="txtComments" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Kolor</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Domyślny</option>
                            <option value="green">Zielony</option>
                            <option value="red">Czerwony</option>
                            <option value="blue">Niebieski</option>
                            <option value="gold">Żółty</option>
                            <option value="black">Czarny</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Zapisz</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale/pl.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
            $(document).ready(function () {
                var events = [];
                var selectedEvent = null;
                FetchEventAndRenderCalendar();
                function FetchEventAndRenderCalendar() {
                    events = [];
                    $.ajax({
                        type: "GET",
                        url: "/home/GetEvents",
                        success: function (data) {
                            $.each(data, function (i, v) {
                                events.push({
                                    eventID: v.Id,
                                    title: v.Subject,
                                    comments: v.Comments,
                                    start: moment(v.Start),
                                    end: moment(v.End),
                                    color: v.ThemeColor
                                });
                            })
                            GenerateCalendar(events);
                        },
                        error: function (error) {
                            alert('Nie udało się wygenerować kalendarza.');
                        }
                    })
                }

                function GenerateCalendar(events) {
                    $('#calendar').fullCalendar('destroy');
                    $('#calendar').fullCalendar({
                        locale: 'pl',
                        timeFormat: "HH:mm",
                        displayEventEnd: {
                            month: false,
                            agendaWeek: true,
                            agendaDay: true,
                            'default': false
                        },
                        contentHeight: 400,
                        defaultDate: new Date(),
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        allDaySlot: false,
                        eventLimit: true,
                        eventColor: 'gray',
                        events: events,
                        eventClick: function (calEvent, jsEvent, view) {
                            selectedEvent = calEvent;
                            $('#calendarModal #eventTitle').text(calEvent.title);
                            var $details = $('<div/>');
                            $details.append($('<p/>').html('<b>Początek: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm")));
                            $details.append($('<p/>').html('<b>Koniec: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm")));
                            $details.append($('<p/>').html('<b>Uwagi: </b>' + (calEvent.comments == null ? '(brak)' : calEvent.comments)));
                            $('#calendarModal #pDetails').empty().html($details);
                            $('#calendarModal').modal();
                        },
                        selectable: true,
                        select: function (start, end) {
                            selectedEvent = {
                                eventID: 0,
                                title: '',
                                comments: '',
                                start: start,
                                end: end,
                                color: ''
                            };
                            openAddEditForm();
                            $('#calendar').fullCalendar('unselect');
                        },
                        editable: true,
                        eventDrop: function (event) {
                            var data = {
                                Id: event.eventID,
                                Subject: event.title,
                                Start: event.start.format("DD-MMM-YYYY HH:mm"),
                                End: event.end.format("DD-MMM-YYYY HH:mm"),
                                Comments: event.comments,
                                ThemeColor: event.color
                            };
                            SaveEvent(data);
                        }
                    });
                }

                $('#btnEdit').click(function () {
                    openAddEditForm();
                })
                $('#btnDelete').click(function () {
                    if (selectedEvent != null && confirm('Jesteś pewien, że chcesz usunąć to wydarzenie?')) {
                        $.ajax({
                            type: "POST",
                            url: '/home/DeleteEvent',
                            data: { 'eventID': selectedEvent.eventID },
                            success: function (data) {
                                if (data.status) {
                                    FetchEventAndRenderCalendar();
                                    $('#calendarModal').modal('hide');
                                }
                            },
                            error: function () {
                                alert('Nie udało się usunąć wydarzenia.');
                            }
                        })
                    }
                })
                $('#dtp1,#dtp2').datetimepicker({
                    format: 'DD-MMM-YYYY HH:mm'
                });
                function openAddEditForm() {
                    if (selectedEvent != null) {
                        $('#hdEventID').val(selectedEvent.eventID);
                        $('#txtSubject').val(selectedEvent.title);
                        $('#txtStart').val(selectedEvent.start.format("DD-MMM-YYYY HH:mm"));
                        $('#txtEnd').val(selectedEvent.end.format("DD-MMM-YYYY HH:mm"));
                        $('#txtComments').val(selectedEvent.comments);
                        $('#ddThemeColor').val(selectedEvent.color);
                    }
                    $('#calendarModal').modal('hide');
                    $('#calendarModalSave').modal();
                }
                $('#btnSave').click(function () {
                    if ($('#txtSubject').val().trim() == "") {
                        alert('Nazwa wydarzenia jest wymagana.');
                        return;
                    }
                    if ($('#txtStart').val().trim() == "") {
                        alert('Data rozpoczęcia jest wymagana.');
                        return;
                    }
                    if ($('#txtEnd').val().trim() == "") {
                        alert('Data zakończenia jest wymagana.');
                        return;
                    }
                    else {
                        var startDate = moment($('#txtStart').val(), "DD-MMM-YYYY HH:mm").toDate();
                        var endDate = moment($('#txtEnd').val(), "DD-MMM-YYYY HH:mm").toDate();
                        if (startDate > endDate) {
                            alert('Nieprawidłowa data zakończenia.');
                            return;
                        }
                    }

                    var e = {
                        Id: $('#hdEventID').val(),
                        Subject: $('#txtSubject').val().trim(),
                        Start: startDate,
                        End: endDate,
                        Comments: $('#txtComments').val(),
                        ThemeColor: $('#ddThemeColor').val()
                    }
                    SaveEvent(e);
                })
                function SaveEvent(e) {
                    $.ajax({
                        type: "POST",
                        url: '/Home/SaveEvent',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(e),
                        success: function (data) {
                            if (data.status) {
                                FetchEventAndRenderCalendar();
                                $('#calendarModalSave').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Nie udało się zapisać wydarzenia.');
                        }
                    }).responseJSON;
                }
            })
    </script>
}